@model RegisterJobSeekerViewModel

@{
    ViewData["Title"] = "Add Job Seeker";
}

<form asp-action="CreateNewJobSeeker" method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="form-floating mb-3">
                <input asp-for="FirstName" class="form-control" placeholder="First Name" />
                <label asp-for="FirstName">First Name</label>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-floating mb-3">
                <input asp-for="LastName" class="form-control" placeholder="Last Name" />
                <label asp-for="LastName">Last Name</label>
            </div>
        </div>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="Email" type="email" class="form-control" placeholder="Email" />
        <label asp-for="Email">Email</label>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
        <label asp-for="Password">Password</label>
    </div>

    <div class="form-floating mb-4">
        <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password" />
        <label asp-for="ConfirmPassword">Confirm Password</label>
    </div>

    <button type="submit" class="btn btn-primary w-100">Add</button>
</form>